streamlit
streamlit-autorefresh
tornado==6.4.2
boto3
python-dotenv

opencv-python-headless
numpy
pandas
matplotlib
Pillow

mediapipe>=0.10.30,<0.11
python-docx
moviepy
pymupdf
pytz

openpyxl==3.1.5

scikit-learn>=1.7,<1.8
joblib>=1.3,<2.0

librosa>=0.10,<0.12
soundfile>=0.12,<0.14
